In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

df.head()

,name of car,risk rank,social rank,curiosity rank,moral rank,safety rank,year
0,1973 Toyota Celica 1600 GT,6,2,3,4,2,2
1,1986 Toyota Celica 2.0 GT,6,2,3,3,3,3
2,1994 Toyota Celica GT-Four,8,3,2,3,3,4
3,2002 Toyota Celica 1.8,6,3,2,3,3,6
4,1993 Toyota MR2 2.0 Turbo,7,2,3,5,2,4